<div class="container">
    <div class="text-center">
        <form action="/image" method="POST">
            <input type="text" class="input-url-image" placeholder="Ingrese la URL de la imagen a convertir en blanco y negro">

            <button type="submit">Guardar Imagen</button>
        </form>
    </div>
</div>